.nav-bar{
    margin-left: 50px;
    margin-right: 20px;
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.nav-image{
    justify-self: start;
    margin-left: 10px;
    margin-top: 5px;
}

.nav-item{
    text-decoration: none;
    margin-right: 15px;
}

.banner-after-top {
    margin-top: 10px;
}

.banner-write {
    margin-top: 123px;
}

.half-width {
    width: 45%;
    float: left;
}

.btn-buy-now {
    color: white;
    width: 100px;
    height: 50px;
    background-image: linear-gradient(180deg, rgb(5, 5, 5), rgb(7, 4, 4));
}

.banner-slider {
    margin-left: 30px;
}